
.row {
    display: flex;
    margin-bottom: 2px;
}

.case {
    height: 50px;
    width: 50px;
    background-color: tomato;
    margin-left: 1px;
    margin-right: 1px;
}

.caseBlock {
    background-color: grey;
}

.caseGrey {
    height: 50px;
    width: 50px;
    background-color: grey;
    margin-left: 1px;
    margin-right: 1px;
}

/* Players */

.tedPlayer {
    background: url(assets/ted-player.png);
}

.barneyPlayer {
    background: url(assets/barney-player.png);
}

/* Weapons */

.weaponTie {
    background: url(assets/tie.png);
}

.weaponUmbrella {
    background: url(assets/umbrella.png);
}

.weaponHorn {
    background: url(assets/blue-horn.png);
}

.weaponPineapple {
    background: url(assets/pineapple.png);
}
