.center {
    display: flex;
    justify-content: center;
}

.container {
    margin-top:3%;
    margin-right:0 !important;
    margin-left:0 !important;
    max-width:100% !important;
}

h1 {
    font-family: 'Maven Pro', sans-serif;
}

span {
    font-family: 'Bebas Neue', cursive;
    letter-spacing:2px;
    font-size:22px;
}

img {
    margin-right:25px;
}
/* Players */

.player-1 {
    background: url(assets/ted-player.png);
}

.player-2 {
    background: url(assets/barney-player.png);
}

/* Weapons */

.weaponTie {
    background-image: url(assets/tie.png);
}

.weaponUmbrella {
    background-image: url(assets/umbrella.png);
}

.weaponHorn {
    background-image: url(assets/blue-horn-weapon.png);
}

.weaponPineapple {
    background-image: url(assets/pineapple.png);
}

.row {
    display: flex;
    margin-bottom: 2px;
}

.case {
    height: 50px;
    width: 50px;
    background-color: tomato;
    margin-left: 1px;
    margin-right: 1px;
    margin-bottom: 1px;
}

.caseBlock {
    background-color: grey;
}

.caseGrey {
    height: 50px;
    width: 50px;
    background-color: grey;
    margin-left: 1px;
    margin-right: 1px;
}

.caseYouCanGo {
    height: 50px;
    width: 50px;
    background-color: rgb(252, 158, 142);
    margin-left: 1px;
    margin-right: 1px;
}
